@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.box__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-md;
  margin-bottom: $spacing-lg;
}

.box__title {
  color: $color-primary;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 120%;
}

.box__content {
  @include body-text;
}

@include respond-to(md) {
  .box__title {
    font-size: $font-size-xl;
  }
}
